## Polymarket
POLYMARKET_BASE_URL=
POLYMARKET_KEYWORDS=

## S3 DataLake (RAW)
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=
S3_PREFIX=

NEON_DATABASE_URL=

LLM_PROVIDER=ollama
OLLAMA_MODEL=deepseek-coder:6.7b
