/venv/
.venv/
.python-version
.pytest_cache/
__pycache__/
*.py[cod]

.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

/logs/
/config/
/ocult/
.DS_Store